[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
geojson = "*"
devtools = "*"
pymodbus = "*"
coloredlogs = "*"
pexpect-serial = "*"
chirpstack-api = "*"
fastapi = "*"
uvicorn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
